= html_head_subtitle_set 'icons'

.arl_admin_help_basic
  %h2.arl_admin_help_basic_title Icons

  .arl_admin_help_icons
    .arl_admin_help_icons_example
      .arl_admin_help_icons_example_title New
      .arl_admin_help_icons_example_icon= button_admin_to_new
      .arl_admin_help_icons_example_description Create a new resource item in the database.

    .arl_admin_help_icons_example
      .arl_admin_help_icons_example_title Next
      .arl_admin_help_icons_example_icon= button_admin_to_next
      .arl_admin_help_icons_example_description Open the next indexed resource item.

    .arl_admin_help_icons_example
      .arl_admin_help_icons_example_title Previous
      .arl_admin_help_icons_example_icon= button_admin_to_previous
      .arl_admin_help_icons_example_description Open the previous indexed resource item.

    .arl_admin_help_icons_example
      .arl_admin_help_icons_example_title Edit
      .arl_admin_help_icons_example_icon= button_admin_to_edit
      .arl_admin_help_icons_example_description Open the resource item to make changes.

    .arl_admin_help_icons_example
      .arl_admin_help_icons_example_title Done Editing
      .arl_admin_help_icons_example_icon= button_admin_to_done_editing
      .arl_admin_help_icons_example_description Close the chosen resource to prevent changes.

    .arl_admin_help_icons_example
      .arl_admin_help_icons_example_title Index
      .arl_admin_help_icons_example_icon= button_admin_to_index
      .arl_admin_help_icons_example_description List all items of a resource class.

    .arl_admin_help_icons_example
      .arl_admin_help_icons_example_title Public View
      .arl_admin_help_icons_example_icon= button_admin_to_public
      .arl_admin_help_icons_example_description View the page as it appears publicly. Opens in a new browser tab.

  .arl_admin_help_icons
    .arl_admin_help_icons_example
      .arl_admin_help_icons_example_title Join
      .arl_admin_help_icons_example_icon= button_admin_to_new_join_single
      .arl_admin_help_icons_example_description Associate the current item with another resource. Opens a new page to make a selection.

    .arl_admin_help_icons_example
      .arl_admin_help_icons_example_title Import
      .arl_admin_help_icons_example_icon= button_admin_to_new_import
      .arl_admin_help_icons_example_description Build a new resource from a file on the server in the <em>imported</em> folder. Opens a new page to enter a filepath.

    .arl_admin_help_icons_example
      .arl_admin_help_icons_example_title Upload
      .arl_admin_help_icons_example_icon= button_admin_to_new_upload
      .arl_admin_help_icons_example_description Build a new resource by uploading a file from the local computer. Opens a new page to select a file.

    .arl_admin_help_icons_example
      .arl_admin_help_icons_example_title Join by keyword
      .arl_admin_help_icons_example_icon= button_admin_to_new_join_by_keyword
      .arl_admin_help_icons_example_description Associate the current item with a collection of resources chosen by keyword. Opens a new page to choose a keyword.
