= html_head_subtitle_set 'visibility'

.arl_admin_help_basic
  %h2.arl_admin_help_basic_title
    Visibility
  %p.arl_admin_help_basic_content_text
    The <i>visibility</i> setting of a resource determines how, or if, it will be available to the public. There are three categories: <i>Public</i>, <i>Unlisted</i>, and <i>Private</i>.
  %p.arl_admin_help_basic_content_text
    <i>Public</i> and <i>Unlisted</i> are both <b>published</b>, while <i>Private</i> is <b>unpublished</b>.
  %hr
  %h3.arl_admin_help_basic_content_title
    = "#{icon_published} Public"
  %p.arl_admin_help_basic_content_text
    Public items appear in the resource index. They can be accessed by a URL or from within a different resource (such as audio within an album).
  %hr
  %h3.arl_admin_help_basic_content_title
    = "#{icon_published} Unlisted"
  %p.arl_admin_help_basic_content_text
    Unlisted items do not appear in the resource index. However, they can be accessed by a URL or from within a different resource (such as audio within an album).
  %hr
  %h3.arl_admin_help_basic_content_title
    = "#{icon_private} Private"
  %p.arl_admin_help_basic_content_text
    Private items cannot be publicly found in the resource index, by a URL, or by any other resource. They are only available to an administrator.
