= html_head_subtitle_set 'visibility'

.arl_admin_help_basic
  %h2.arl_admin_help_basic_title
    Visibility
  %p.arl_admin_help_basic_content_text
    The <i>visibility</i> setting of a resource determines how, when, or if, it will be available to the public.
  %hr
  %h3.arl_admin_help_basic_content_title
    = 'public – url, join, index'
  %ul.arl_admin_help_basic_content_text
    %li url by direct link
    %li associations with other objects<sup>*</sup>
    %li category index<sup>*</sup>
  %hr
  %h3.arl_admin_help_basic_content_title
    = 'public – url, join'
  %ul.arl_admin_help_basic_content_text
    %li url by direct link
    %li associations with other objects<sup>*</sup>
  %hr
  %h3.arl_admin_help_basic_content_title
    = 'public – url'
  %ul.arl_admin_help_basic_content_text
    %li url by direct link
  %hr
  %h3.arl_admin_help_basic_content_title
    = 'administrators only'
  %ul.arl_admin_help_basic_content_text
    %em (cannot be publicly accessed)
  %hr
  %h2.arl_admin_help_basic_title
    <sup>*</sup> Date released
  %p.arl_admin_help_basic_content_text
    Furthermore, many categories have a <i>date released</i> or <i>date announced</i> attribute that also determines whether it will appear in the category index or with associated objects.
