= html_head_subtitle_set 'visibility'

.arl_admin_help_basic
  %h2.arl_admin_help_basic_title
    Visibility
  %p.arl_admin_help_basic_content_text
    The <i>visibility</i> setting of a resource determines how, or if, it will be available to the public.
  %hr
  %h3.arl_admin_help_basic_content_title
    = 'Public'
  %ul.arl_admin_help_basic_content_text
    %li url
    %li associations with other objects
    %li category index
  %hr
  %h3.arl_admin_help_basic_content_title
    = 'Unindexed'
  %ul.arl_admin_help_basic_content_text
    %li url
    %li associations with other objects
  %hr
  %h3.arl_admin_help_basic_content_title
    = 'Unlisted'
  %ul.arl_admin_help_basic_content_text
    %li url
  %hr
  %h3.arl_admin_help_basic_content_title
    = 'Private'
  %ul.arl_admin_help_basic_content_text
    %em (cannot be publicly accessed)
  %hr
  %p.arl_admin_help_basic_content_text
    Albums, Articles, Audio, and Videos with a future release date will not appear in the category index.
