= content_for :page_subtitle, 'event'
= content_for :page_subtitle_detail, @event.date_and_venue

- if @event.show_will_cycle_pictures
  = resource_script_picture_cycler(@event)

.arl_events_show
  -# = render 'show_event_coverpicture', event: @event

  .arl_events_show_info
    = render 'show_event_info_datetime', event: @event
    = render 'show_event_info_title', event: @event
    = render 'show_event_info_alert', event: @event
    = render 'show_event_info_location', event: @event
    = render 'show_event_info_details', event: @event

- if @event.does_have_audio
  .arl_events_show_audio
    = render 'public/jplayer_multiple/jplayer_event', event: @event
