.arl_admin_resource_joins_buttons
  = album_audio_admin_button_to_new_join_single(album)
  = album_audio_admin_button_to_new_import(album)
  = album_audio_admin_button_to_new_upload(album)
  = album_audio_admin_button_to_new_join_by_keyword(album)

.arl_form_title
  = album_statement_audio_count(album)

- if album.does_have_audio
  = form_with(model: [:admin, album], url: admin_album_path(album, pane: :audio), local: true, class: :arl_form, method: :patch) do |f|
    .arl_form_data
      %table.arl_form_data_joins
        %thead
          %tr.arl_form_data_joins_headings
            %th.arl_form_data_joins_heading title
            %th.arl_form_data_joins_heading order
            %th.arl_form_data_joins_heading= icon_remove
        %tbody
          = f.fields_for :album_audio, album.album_audio_sorted do |aa|
            %tr.arl_form_data_joins_values
              %td.arl_form_data_joins_value= audio_reference_admin_link(aa.object.audio)
              %td.arl_form_data_joins_value= aa.text_field :album_order, autocomplete: :off, size: 4, class: :arl_form_data_attr_input_number_field
              %td.arl_form_data_joins_destroy= render 'form_elements/destroy_box', form: aa
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
      %aside.arl_form_action_explanation= "will also detatch any audio with '#{icon_destroy}' box checked"
