.arl_admin_resource_joins_buttons
  = album_keyword_admin_button_to_new_join_single(album)

.arl_form_title
  = album_statement_keywords_count(album)

- if album.does_have_keywords
  = form_with(model: [:admin, album], url: admin_album_path(album, pane: :keywords), local: true, class: :arl_form, method: :patch) do |f|
    .arl_form_data
      %table.arl_form_data_joins
        %thead
          %tr.arl_form_data_joins_headings
            %th.arl_form_data_joins_heading title
            %th.arl_form_data_joins_heading= icon_remove
        %tbody
          = f.fields_for :album_keywords, album.album_keywords_sorted do |ak|
            %tr.arl_form_data_joins_values
              %td.arl_form_data_joins_value= ak.label :keyword_title, keyword_reference_admin_link(ak.object.keyword)
              %td.arl_form_data_joins_value= render 'form_elements/destroy_box', form: ak
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
      %aside.arl_form_action_explanation= "will also detatch any keywords with '#{icon_destroy}' box checked"
