.arl_form_title
  Import picture

= form_with(model: [:admin, album], url: admin_album_picture_create_from_import_path(album), local: true, class: :arl_form) do |f|
  .arl_form_data
    = f.fields_for :pictures, f.object.pictures.build do |ap|
      = render 'form_elements/text_field', attribute: :source_imported_file_path, form: ap, aside: "#{source_imported_dirname(trailing_separator: true)}"
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
