.arl_admin_resource_joins_buttons
  = album_picture_admin_button_to_new_join_single(album)
  = album_picture_admin_button_to_new_import(album)
  = album_picture_admin_button_to_new_upload(album)
  = album_picture_admin_button_to_new_join_by_keyword(album)

.arl_form_title
  = album_statement_pictures_count(album)

- if album.does_have_pictures
  = form_with(model: [:admin, album], url: admin_album_path(album, pane: :pictures), local: true, class: :arl_form, method: :patch) do |f|
    .arl_form_data
      .arl_form_data_attr
        = f.label :album_pictures_sorter_id, 'Sort pictures by:', class: :arl_form_data_attr_label
        = f.select :album_pictures_sorter_id, selectable.album_pictures_sorters, {selected: f.object.album_pictures_sorter_id}, {class: :arl_form_data_attr_input_select}
      .arl_form_data_joins
        = f.fields_for :album_pictures, album.album_pictures_sorted do |ap|
          .arl_form_data_joins_picture
            = render 'form_elements/joins_picture_thumbnail', form: ap
            = render 'form_elements/joins_picture_title', form: ap
            = render 'form_elements/joins_picture_coverpicture', form: ap
            = render 'form_elements/joins_picture_order', form: ap, resource_order: :album_order
            = render 'form_elements/joins_picture_remove', form: ap
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
      %aside.arl_form_action_explanation
        = "will also detatch any pictures with the #{icon_remove} box checked"
