= html_head_subtitle_set 'albums'

.arl_admin_resource_header.resource_index
  .arl_admin_resource_header_category
    Albums Index
  .arl_admin_resource_header_nav
    = album_admin_button_to_public

.arl_admin_albums_index

  .arl_admin_albums_index_albums
    - @albums.each do |album|
      .arl_admin_albums_index_album
        .arl_admin_albums_index_album_title
          = album_admin_title_link(album)
        .arl_admin_albums_index_album_image
          = resource_coverpicture_tag(album, html_class: :arl_admin_albums_index_album_image_thumbnail)
        .arl_admin_albums_index_album_artist
          = album.album_artist
        .arl_admin_albums_index_album_joins
          %dl.arl_admin_joined_resources
            = render 'admin/shared/index_joined_audio', resource: album
            = render 'admin/shared/index_joined_keywords', resource: album
            = render 'admin/shared/index_joined_pictures', resource: album
        .arl_admin_albums_index_album_date
          = album.date_released
        .arl_admin_albums_index_album_duration
          = album.duration
        .arl_admin_albums_index_album_visibility
          = visibility_description(album.visibility)
