= content_for :page_subtitle, 'album'
= content_for :page_subtitle_detail, @album.title

.arl_admin_resource_header.resource_show
  .arl_admin_resource_header_category
    Album
  .arl_admin_resource_header_title
    = @album.title
  .arl_admin_resource_header_nav
    = album_admin_button_to_previous(@album_neighbors.previous)
    = album_admin_button_to_edit(@album)
    = album_admin_button_to_public(@album)
    = album_admin_button_to_next(@album_neighbors.next)

.arl_admin_albums_show
  %dl.arl_admin_albums_show_title
    = render 'admin/shared/metadata_pair', key: 'Title', value: @album.title
    = render 'admin/shared/metadata_pair', key: 'Visibility', visibility: @album.visibility
  %div.arl_admin_albums_show_picture
    = render 'show_album_picture_img', album: @album
  %dl.arl_admin_albums_show_attributes
    = render 'admin/shared/metadata_pair', key: 'Album artist', value: @album.album_artist
    = render 'admin/shared/metadata_pair', key: 'Copyright', text_props: @album.copyright_props
    = render 'admin/shared/metadata_pair', key: 'Date released', value: @album.date_released
    = render 'admin/shared/metadata_pair', key: 'Description', text_props: @album.description_props
    = render 'admin/shared/metadata_pair', key: 'Duration', value: @album.duration
    = render 'admin/shared/metadata_pair', key: 'Index can display tracklist', boolean: @album.index_can_display_tracklist
    = render 'admin/shared/metadata_pair', key: 'Index tracklist audio includes subtitles', boolean: @album.index_tracklist_audio_includes_subtitles
    = render 'admin/shared/metadata_pair', key: 'Musicians', text_props: @album.musicians_props
    = render 'admin/shared/metadata_pair', key: 'Personnel', text_props: @album.personnel_props
    = render 'admin/shared/metadata_pair', key: 'Show can cycle pictures', boolean: @album.show_can_cycle_pictures
  %div.arl_admin_albums_show_joins
    = render 'admin/shared/show_joined_audio', resource: @album
    = render 'admin/shared/show_joined_keywords', resource: @album
    = render 'admin/shared/show_joined_pictures', resource: @album
    = render 'show_album_vendors', album: @album
  %dl.arl_admin_albums_show_etc
    = render 'admin/shared/metadata_pair', key: 'URL', value: asset_url(public_album_path(@album.id_public))
    = render 'admin/shared/metadata_pair', key: 'Last Updated', value: @album.updated_at
