.arl_admin_resource_joins_buttons
  = event_picture_admin_button_to_new_join_single(event)
  = event_picture_admin_button_to_new_import(event)
  = event_picture_admin_button_to_new_upload(event)
  = event_picture_admin_button_to_new_join_by_keyword(event)

.arl_form_title
  = resource_joined_pictures_count_statement(event)

- if event.does_have_pictures
  = form_with(model: [:admin, event], url: admin_event_path(event, pane: :pictures), local: true, class: :arl_form) do |f|
    .arl_form_data
      .arl_form_data_attr
        = f.label :event_pictures_sorter_id, 'Sort pictures by:', class: :arl_form_data_attr_label
        = f.select :event_pictures_sorter_id, selectable.event_pictures_sorters, {selected: f.object.event_pictures_sorter_id}, {class: :arl_form_data_attr_input_select}
      .arl_form_data_joins
        = f.fields_for :event_pictures, event.event_pictures_sorted do |ep|
          .arl_form_data_joins_picture
            = render 'form_elements/joins_picture_thumbnail', form: ep
            = render 'form_elements/joins_picture_title', form: ep
            = render 'form_elements/joins_picture_coverpicture', form: ep
            = render 'form_elements/joins_picture_order', form: ep, resource_order: :event_order
            = render 'form_elements/joins_picture_remove', form: ep
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
      %aside.arl_form_action_explanation
        = "will also detach any pictures with the #{icon_remove} box checked"
