.arl_admin_resource_joins_buttons
  = event_video_admin_button_to_new_join_single(event)
  -# event_video_admin_button_to_new_import(event)
  -# event_video_admin_button_to_new_upload(event)
  = event_video_admin_button_to_new_join_by_keyword(event)

.arl_form_title
  = resource_joined_videos_count_statement(event)

- if event.does_have_videos
  = form_with(model: [:admin, event], url: admin_event_path(event, pane: :videos), local: true, class: :arl_form) do |f|
    .arl_form_data
      %table.arl_form_data_joins
        %thead
          %tr.arl_form_data_joins_headings
            %th.arl_form_data_joins_heading title
            %th.arl_form_data_joins_heading order
            %th.arl_form_data_joins_heading= icon_remove
        %tbody
          = f.fields_for :event_videos, event.event_videos_sorted do |ev|
            %tr.arl_form_data_joins_values
              %td.arl_form_data_joins_value= ev.label :video_title, video_admin_link_title(ev.object.video)
              %td.arl_form_data_joins_value= ev.text_field :event_order, autocomplete: :off, size: 4, class: :arl_form_data_attr_input_number_field
              %td.arl_form_data_joins_destroy= render 'form_elements/destroy_box', form: ev
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
      %aside.arl_form_action_explanation= "will also detach any videos with '#{icon_destroy}' box checked"
