.arl_form_title
  Add video

- if selectable.does_have_videos
  = form_with(model: [:admin, event], url: admin_event_path(event, pane: :videos), local: true, class: :arl_form) do |f|
    .arl_form_data
      = f.fields_for :event_videos, event.event_videos.build do |ev|
        = render 'form_elements/collection_select', form: ev, attribute: :video_id, blank: true, collection: selectable.videos, label: 'Title', text_method: :title_and_subtitle_for_display
        = render 'form_elements/text_field_sized', form: ev, attribute: :event_order, label: 'Order', size: 4
    .arl_form_actions
      = f.submit class: :arl_button_form_submit

- else
  .arl_form
    .arl_form_null No videos.
