= content_for :page_subtitle, 'events'

.arl_admin_resource_header.resource_index
  .arl_admin_resource_header_category
    Events Index
  .arl_admin_resource_header_nav
    = event_admin_button_to_public

.arl_admin_events_index
  .arl_admin_events_index_filter
    = form_with model: @arlocal_settings, url: admin_arlocal_settings_update_and_return_path, local: true do |f|
      = event_admin_filter_select(f, params)
      = f.submit icon_pin, class: :arl_button_form_aux_submit

  .arl_admin_events_index_events
    - @events.each do |event|
      .arl_admin_events_index_event
        .arl_admin_events_index_event_datetime
          = event_admin_link_datetime(event)
        .arl_admin_events_index_event_title
          = event.title
        .arl_admin_events_index_event_image
          = resource_coverpicture_tag(event, html_class: :arl_admin_events_index_event_image_thumbnail)
        .arl_admin_events_index_event_joins
          %dl.arl_admin_joined_resources
            = render 'admin/shared/index_joined_audio', resource: event
            = render 'admin/shared/index_joined_keywords', resource: event
            = render 'admin/shared/index_joined_pictures', resource: event
        .arl_admin_events_index_event_city
          = event.city
        .arl_admin_events_index_event_venue
          = event.venue
        .arl_admin_events_index_event_venue_url
          = event.venue_url
        .arl_admin_events_index_event_visibility
          = visibility_description(event.visibility)
