= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: :arl_form, method: :put }) do |f|
  .arl_form_title
    Administrator password

  .arl_form_data
    .arl_form_data_attr
      = f.label :current_password, class: :arl_form_data_attr_label
      = f.password_field :current_password, autocomplete: 'off', class: :arl_form_data_attr_input_text_field
    .arl_form_data_attr
      = f.label :password, 'New password', class: :arl_form_data_attr_label
      = f.password_field :password, autocomplete: 'off', class: :arl_form_data_attr_input_text_field
    .arl_form_data_attr
      = f.label :password_confirmation, 'New password confirmation', class: :arl_form_data_attr_label
      = f.password_field :password_confirmation, autocomplete: 'off', class: :arl_form_data_attr_input_text_field

  .arl_form_actions
    = f.submit 'Update Administrator', class: :arl_button_form_submit
