= content_for :page_subtitle, 'editing administrator'
= content_for :page_subtitle_detail, resource.name

.arl_admin_resource_header
  .arl_admin_resource_header_category= "Editing Administrator"
  = render 'administrators/shared/error_messages'

%nav.arl_admin_resource_edit_nav
  - @form_metadata.nav_categories.each do |category|
    = administrator_registration_edit_nav_button(category: category, current_pane: @form_metadata.tab_name)

.arl_administrators_registrations_edit
  - if (devise_mapping.confirmable? && resource.pending_reconfirmation?)
    %aside.arl_form_data_attr_explanation
      Currently waiting confirmation for:
      = resource.unconfirmed_email
  = render @form_metadata.partial_name
