= html_head_title_extend! "editing article '#{@article.title}'"

.arl_admin_resource_header.resource_edit
  .arl_admin_resource_header_category
    Editing Article
  .arl_admin_resource_header_title
    = @article.title
  .arl_admin_resource_header_buttons
    = article_admin_button_to_edit_previous(@article_neighbors.previous, arlocal_settings: @arlocal_settings, current_pane: @form_metadata.current_pane)
    = article_admin_button_to_done_editing(@article)
    = article_admin_button_to_edit_next(@article_neighbors.next, arlocal_settings: @arlocal_settings, current_pane: @form_metadata.current_pane)
  = render '/form_elements/errors', resource: @article

.arl_admin_resource_edit_nav
  - @form_metadata.navbar_categories.each do |category|
    = article_admin_edit_nav_button(article: @article, category: category, current_pane: @form_metadata.current_pane)

.arl_admin_articles_edit
  = render @form_metadata.partial_name, article: @article, selectable: @form_metadata.selectables
