= html_head_subtitle_set 'articles'

.arl_admin_resource_header.resource_index_private
  .arl_admin_resource_header_category
    Articles Index

.arl_admin_articles_index
  .arl_admin_articles_index_articles
    - @articles.each do |article|
      .arl_admin_articles_index_article
        .arl_admin_articles_index_article_title
          = article_admin_link_title(article)
        .arl_admin_articles_index_article_author
          = article.author
        .arl_admin_articles_index_article_summary
          = parser_div(article.content_beginning_props)
        .arl_admin_articles_index_article_joins
          %dl.arl_admin_joined_resources
            = render 'admin/shared/index_joined_infopages', resource: article
        .arl_admin_articles_index_article_copyright
          = parser_div(article.copyright_props)
        .arl_admin_articles_index_article_visibility
          = visibility_id(article.visibility)
