.arl_form_title
  = picture_statement_videos_count(picture)

- if picture.does_have_videos
  = form_with(model: [:admin, picture], url: admin_picture_path(picture, pane: :videos), local: true, class: :arl_form) do |f|
    .arl_form_data
      %table.arl_form_data_joins
        %thead
          %tr.arl_form_data_joins_headings
            %th.arl_form_data_joins_heading video title
            %th.arl_form_data_joins_heading= icon_remove
        %tbody
          = f.fields_for :video_pictures, picture.video_pictures_sorted do |vp|
            %tr.arl_form_data_joins_values
              %td.arl_form_data_joins_value= video_reference_admin_link(vp.object.video)
              %td.arl_form_data_joins_value= vp.check_box :_destroy, class: :arl_form_data_joins_value_destroy
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
      %aside.arl_form_action_explanation
        = "will detach any videos with the #{icon_remove} box checked."

= render 'form_elements/spacer'

.arl_form_title
  Add to album
.arl_form_actions
  .arl_admin_resource_alt_buttons
    = picture_video_admin_button_to_new_join_single(picture)
