.arl_form_title
  Picture date and time information

.arl_form_data
  .arl_form_data_attr
    %label.arl_form_data_attr_label Effective date/time
    %div.arl_form_data_attr_value
      .arl_metadata_value_fragment_primary= picture.datetime_effective_value
      .arl_metadata_value_fragment_secondary= "from #{picture.datetime_effective_method}"

= form_with(model: [:admin, picture], url: admin_picture_path(picture, pane: :datetime), local: true, class: :arl_form) do |f|
  .arl_form_data
    = render 'form_elements/datetimezone_field',  form: f, attribute: :datetime_from_manual_entry, zone: :datetime_from_manual_entry_zone, heading: 'Date and time from manual entry', selectable: selectable, step: 1
  .arl_form_actions
    = f.submit class: :arl_button_form_submit

.arl_form_data
  .arl_form_data_attr
    %label.arl_form_data_attr_label Date/time from image exif
    %div.arl_form_data_attr_value= picture.datetime_from_exif
  .arl_form_data_attr
    %label.arl_form_data_attr_label Date/time from filesystem
    %div.arl_form_data_attr_value= picture.datetime_from_file

-#  .arl_form_actions
-#  = form_with(model: [:admin, picture], url: admin_picture_refresh_exif_path(picture, pane: :datetime), local: true, method: :patch, class: :arl_form) do |f|
-#    = f.submit 'Refresh date/time', class: :arl_button_form_submit
