= html_head_subtitle_set "editing picture '#{@picture.title}'"

.arl_admin_resource_header.resource_edit_with_thumbnail
  .arl_admin_resource_header_category
    Editing Picture
  .arl_admin_resource_header_title
    = parser_div(@picture.title_props_for_display)
  .arl_admin_resource_header_thumbnail
    = picture_preferred_tag(@picture, html_class: :arl_admin_resource_header_thumbnail_image)
  .arl_admin_resource_header_buttons
    = picture_admin_button_to_edit_previous(@picture_neighbors.previous, arlocal_settings: @arlocal_settings, current_pane: @form_metadata.current_pane)
    = picture_admin_button_to_done_editing(@picture)
    = picture_admin_button_to_public(@picture)
    = picture_admin_button_to_edit_next(@picture_neighbors.next, arlocal_settings: @arlocal_settings, current_pane: @form_metadata.current_pane)
  = render '/form_elements/errors', resource: @picture

.arl_admin_resource_edit_nav
  - @form_metadata.navbar_categories.each do |category|
    = picture_admin_edit_nav_button(picture: @picture, category: category, current_pane: @form_metadata.current_pane)

.arl_admin_pictures_edit
  = render @form_metadata.partial_name, picture: @picture, selectable: @form_metadata.selectables
