= html_head_subtitle_set @picture.title

%div#admin-resource-header
  = render 'show_admin_header_title', picture: @picture
  = render 'show_admin_header_buttons', picture: @picture

%p.title
  %span
    = link_to 'Pictures from', event_pictures_path(@event.id_public)
  %span.album
    = link_to @event.date_and_venue, event_path(@event.id_public)

%div#pictures-show
  %section.picture
    = render 'show_picture', picture: @picture, picture_neighbors: @picture_neighbors
  %section.details
  = render 'show_picture_details', picture: @picture
