= content_for :page_subtitle, 'import picture to album'

.arl_admin_resource_header.resource_new
  .arl_admin_resource_header_category
    Picture Import to Album

.arl_admin_picture_edit
  = form_with(model: [:admin, @picture], local: true, url: admin_picture_create_from_import_to_album_path, class: :arl_form) do |f|
    .arl_form_data
      = render 'form_elements/text_field', |
          aside: "#{source_imported_dirname(trailing_separator: true)}", |
          attribute: :source_imported_file_path, |
          errors: @picture.errors.messages_for(:source_file), |
          form: f, |
          label: 'Source file'
      = render 'form_elements/auto_keyword', |
          attribute: :picture_keywords, |
          form: f
      = f.fields_for :album_pictures, f.object.album_pictures.build do |ap|
        = render 'form_elements/collection_select', |
            attribute: :album_id, |
            blank: true, |
            collection: @albums, |
            errors: @picture.errors.messages_for(:album), |
            form: ap, |
            label: 'Album', |
            text_method: :title
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
