= html_head_subtitle_set 'import picture to event'

.arl_admin_resource_header.resource_new
  .arl_admin_resource_header_category
    Picture Import to Event

.arl_admin_picture_edit
  = form_with(model: [:admin, Picture.new], local: true, url: admin_picture_create_from_import_to_event_path, class: :arl_form) do |f|
    .arl_form_data
      = render 'form_elements/text_field', attribute: :source_imported_file_path, form: f, aside: "#{source_imported_dirname(trailing_separator: true)}"
      = f.fields_for :event_pictures, f.object.event_pictures.build do |ep|
        = render 'form_elements/collection_select', form: ep, attribute: :event_id, blank: true, collection: @events, label: 'Event title', text_method: :datetime_and_title
      - if @auto_keyword
        = render 'form_elements/auto_keyword', attribute: :picture_keywords, auto_keyword: @auto_keyword, form: f
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
