= form_with(model: [:admin, link], local: true, class: :arl_form) do |f|
  .arl_form_title
    Link details
  .arl_form_data
    = render 'form_elements/text_field',      attribute: :name,                 form: f
    = render 'form_elements/text_field',      attribute: :address_href,         form: f
    = render 'form_elements/text_field',      attribute: :address_inline_text,  form: f
    = render 'form_elements/parseable_area',  attribute: :details,              form: f, selectable: selectable
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
