%dl.arl_metadata_layout_block
  .arl_metadata_pair
    %dt.arl_metadata_key Name
    %dd.arl_metadata_value= link.name
  .arl_metadata_pair
    %dt.arl_metadata_key address_href
    %dd.arl_metadata_value= link.address_href
  .arl_metadata_pair
    %dt.arl_metadata_key address inline text
    %dd.arl_metadata_value= link.address_inline_text
  .arl_metadata_pair
    %dt.arl_metadata_key address type
    %dd.arl_metadata_value= link.address_type
  .arl_metadata_pair
    %dt.arl_metadata_key details
    %dd.arl_metadata_value= parser_div(link.details_props)
