= html_head_subtitle_set "editing link '#{@link.name}'"

.arl_admin_resource_header.resource_edit
  .arl_admin_resource_header_category
    Editing Link
  .arl_admin_resource_header_title
    = @link.title
  .arl_admin_resource_header_buttons
    = link_admin_button_to_edit_previous(@link_neighbors.previous, arlocal_settings: @arlocal_settings, current_pane: @form_metadata.current_pane)
    = link_admin_button_to_done_editing(@link)
    = link_admin_button_to_edit_next(@link_neighbors.next, arlocal_settings: @arlocal_settings, current_pane: @form_metadata.current_pane)
  = render '/form_elements/errors', resource: @link

%nav.arl_admin_resource_edit_nav
  - @form_metadata.navbar_categories.each do |category|
    = link_admin_edit_nav_button(link: @link, category: category, current_pane: @form_metadata.current_pane)

.arl_admin_links_edit
  = render @form_metadata.partial_name, link: @link, selectable: @form_metadata.selectables
