= html_head_subtitle_set 'links'

.arl_admin_resource_header.resource_index_private
  .arl_admin_resource_header_category
    Links Index

.arl_admin_links_index
  .arl_admin_links_index
    - @links.each do |link|
      .arl_admin_links_index_link
        .arl_admin_links_index_link_name
          = link_admin_link_name(link)
        .arl_admin_links_index_link_address
          = link.address_href
        .arl_admin_links_index_link_resources
          %dl.arl_admin_joined_resources
            = render 'admin/shared/index_joined_infopages', resource: link
        .arl_admin_links_index_link_visibility
          = visibility_description(link.visibility)
