= html_head_subtitle_set "link '#{@link.title}'"

.arl_admin_resource_header.resource_show
  .arl_admin_resource_header_category
    Link
  .arl_admin_resource_header_title
    = @link.title
  .arl_admin_resource_header_buttons
    = link_admin_button_to_previous(@link_neighbors.previous)
    = link_admin_button_to_edit(@link)
    = link_admin_button_to_next(@link_neighbors.next)

.arl_admin_links_show
  .arl_admin_links_show_inline
    = link_parse(@link)
  = render 'show_link_details', link: @link
