= content_for :page_subtitle, 'video'
= content_for :page_subtitle_detail, @video.title

.arl_videos_show
  .arl_videos_show_player
    - if @video.source_is_embed
      = render 'show_video_embed', video: @video
    - if @video.source_is_file
      = render 'show_videojs_file', video: @video
    - elsif @video.source_is_url
      = render 'show_videojs_url', video: @video

  .arl_videos_show_text
    .arl_videos_show_text_title= @video.title
    .arl_videos_show_text_date_released= @video.date_released
    .arl_videos_show_text_description= parser_div @video.description_props
    .arl_videos_show_text_personnel= parser_div @video.personnel_props
    .arl_videos_show_text_copyright= parser_div @video.copyright_props

  - if @video_neighbors
    = render 'show_nav_neighbors', video_neighbors: (@video_neighbors)
