= content_for :page_subtitle, 'album'
= content_for :page_subtitle_detail, @album.title

.arl_albums_show
  .arl_albums_show_picture
    = render 'show_album_picture_img', album: @album
  .arl_albums_show_text
    .arl_layout_section_text
      = render 'show_album_text_title', album: @album
      = render 'show_album_text_album_artist', album: @album
    = render 'show_album_text_description', album: @album
    = render 'show_album_text_musicians', album: @album
    = render 'show_album_text_personnel', album: @album
    .arl_layout_section_text
      = render 'show_album_text_date_released', album: @album
      = render 'show_album_text_duration', album: @album
      = render 'show_album_text_copyright', album: @album
  .arl_albums_show_player
    = render 'public/jplayer_multiple/jplayer_album', album: @album, view: :published
    = render 'show_album_vendor_markdown_links', album: @album

  - if @album_neighbors
    = render 'show_nav_neighbors', album_neighbors: (@album_neighbors)
