= form_with(model: [:admin, arlocal_settings], url: admin_arlocal_settings_path(arlocal_settings, pane: :admin), local: true, class: :arl_form, method: :patch) do |f|
  .arl_form_title
    Admin view settings
  .arl_form_data
    = render 'form_elements_arls/auto_keyword_enabler',                                                  form: f, selectable: selectable.keywords
    = render 'form_elements/check_box',          attribute: :admin_forms_retain_pane_for_neighbors,      form: f, aside: 'When editing a resource, the next/previous buttons will retain the current edit category pane.'
    = render 'form_elements_arls/select_sorter', attribute: :admin_forms_selectable_pictures_sorter_id,  form: f, label: 'Admin forms – selectable picture collection', selectable: selectable.selectable_pictures_sorters
    = render 'form_elements_arls/select_sorter', attribute: :admin_index_albums_sorter_id,               form: f, label: 'Admin Index – Albums – sort by', selectable: selectable.albums_index_sorters
    = render 'form_elements_arls/select_sorter', attribute: :admin_index_audio_sorter_id,                form: f, label: 'Admin Index – Audio – sort by', selectable: selectable.audio_index_sorters
    = render 'form_elements_arls/select_sorter', attribute: :admin_index_events_sorter_id,               form: f, label: 'Admin Index – Events – sort by', selectable: selectable.events_index_sorters
    = render 'form_elements_arls/select_sorter', attribute: :admin_index_isrc_sorter_id,                 form: f, label: 'Admin Index – ISRC – sort by', selectable: selectable.isrc_index_sorters
    = render 'form_elements_arls/select_sorter', attribute: :admin_index_pictures_sorter_id,             form: f, label: 'Admin Index – Pictures – sort by', selectable: selectable.pictures_index_sorters
    = render 'form_elements_arls/select_sorter', attribute: :admin_index_videos_sorter_id,               form: f, label: 'Admin Index – Videos – sort by', selectable: selectable.videos_index_sorters
  .arl_form_actions
    = f.submit 'Update A&R.local settings', class: :arl_button_form_submit
