= form_with(model: [:icon, arlocal_settings], url: admin_arlocal_settings_path(arlocal_settings, pane: :icon), local: true, class: :arl_form, method: :patch) do |f|
  .arl_form_title
    Icon for bookmarks
  .arl_form_data
    = render 'form_elements/source_select',    attribute: :icon_source_type,               form: f, selectable: selectable
    = render 'form_elements/text_field',       attribute: :icon_source_imported_file_path,  form: f, aside: "#{source_imported_dirname(trailing_separator: true)}"
    = render 'form_elements/file_field',       attribute: :icon_image,                     form: f, purge_path: edit_admin_arlocal_settings_path(@arlocal_settings, pane: :icon_attachment_purge)
  .arl_form_actions
    .arl_form_action_submit
      = f.submit class: :arl_button_form_submit
