= content_for :page_subtitle, 'editing ISRC data'

.arl_admin_resource_header.resource_edit
  .arl_admin_resource_header_category
    Audio and Video
  .arl_admin_resource_header_title
    Edit ISRC data
  .arl_admin_resource_header_buttons
    = isrc_admin_button_to_done_editing(filter: params[:filter])

.arl_admin_isrc_edit
  .arl_admin_isrc_edit_filter
    = form_with model: @arlocal_settings, url: admin_arlocal_settings_update_and_return_path, local: true do |f|
      = isrc_admin_filter_select(f, params, action: :edit)
      = f.submit icon_pin, class: :arl_button_form_aux_submit

  .arl_form_bulk
    - @resources.each do |resource|
      = form_with model: [:admin, resource], local: true, url: admin_isrc_update_path(resource.id_admin, type: resource.class, filter: params[:filter]), class: :arl_form_bulk_item do |f|
        .arl_form_bulk_item_data
          .arl_form_bulk_item_data_attr= f.object.class
          .arl_form_bulk_item_data_attr= resource_isrcable_admin_link(f.object)
        .arl_form_bulk_item_input
          .arl_form_bulk_item_input_multi= f.text_field :isrc_country_code,      autocomplete: :off, size: 2, class: :arl_form_bulk_item_input_text_field
          .arl_form_bulk_item_input_multi= f.text_field :isrc_registrant_code,   autocomplete: :off, size: 3, class: :arl_form_bulk_item_input_text_field
          .arl_form_bulk_item_input_multi= f.text_field :isrc_year_of_reference, autocomplete: :off, size: 2, class: :arl_form_bulk_item_input_text_field
          .arl_form_bulk_item_input_multi= f.text_field :isrc_designation_code,  autocomplete: :off, size: 5, class: :arl_form_bulk_item_input_text_field
        .arl_form_bulk_item_action
          = f.submit 'Update', class: :arl_form_bulk_item_action_submit
