= form_with(model: [:admin, infopage], local: true, class: :arl_form) do |f|
  .arl_form_title
    InfoPage
  .arl_form_data
    = render 'form_elements/text_field',       attribute: :title,       form: f
    = render 'form_elements/visibility',       attribute: :visibility,  form: f
    = render 'form_elements/text_field_sized', attribute: :index_order, form: f, size: 4
  .arl_form_actions
    = f.submit class: :arl_button_form_submit

- if infopage.does_have_items
  = render 'form_elements/spacer'
  = form_with(model: [:admin, infopage], url: admin_infopage_path(infopage, pane: :infopage), local: true, class: :arl_form, method: :patch) do |f|
    .arl_form_data
      %table.arl_form_data_joins
        %thead
          %tr.arl_form_data_joins_headings
            %th.arl_form_data_joins_heading class
            %th.arl_form_data_joins_heading title
            %th.arl_form_data_joins_heading group
            %th.arl_form_data_joins_heading order
            %th.arl_form_data_joins_heading= icon_remove
        %tbody
          = f.fields_for :infopage_items, infopage.infopage_items_sorted do |i|
            %tr.arl_form_data_joins_values
              %td.arl_form_data_joins_value= i.object.type_of
              %td.arl_form_data_joins_value= infopageable_reference_admin_link(i.object)
              %td.arl_form_data_joins_value= i.select :infopage_group, @form_metadata.selectables.item_groups, { selected: i.object.infopage_group }, class: :arl_form_data_attr_input_select
              %td.arl_form_data_joins_value= i.text_field :infopage_group_order, size: 4, class: :arl_form_data_attr_input_text_field
              %td.arl_form_data_joins_value= render 'form_elements/destroy_box', form: i
    .arl_form_actions
      = f.submit 'Update Items', class: :arl_button_form_submit
      %aside.arl_form_action_explanation= "will also detatch any items with '#{icon_destroy}' box checked"
