.arl_form_title
  Import picture

= form_with(model: [:admin, infopage], url: admin_infopage_picture_create_from_import_path(infopage), local: true, class: :arl_form) do |f|
  .arl_form_data
      = f.fields_for :infopage_items, f.object.infopage_pictures.build do |ip|
        = ip.hidden_field :infopageable_type
        = render 'form_elements/text_field', attribute: :source_imported_file_path, form: ip, aside: "#{source_imported_dirname(trailing_separator: true)}"
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
