.arl_admin_resource_joins_buttons
  = keyword_picture_admin_button_to_new_join_single(keyword)
  = keyword_picture_admin_button_to_new_import(keyword)
  = keyword_picture_admin_button_to_new_upload(keyword)

.arl_form_title
  = resource_joined_pictures_count_statement(keyword)

- if keyword.does_have_pictures
  = form_with(model: [:admin, keyword], url: admin_keyword_path(keyword, pane: :pictures), local: true, class: :arl_form) do |f|
    .arl_form_data
      .arl_form_data_joins
        = f.fields_for :picture_keywords, keyword.picture_keywords_sorted do |pk|
          .arl_form_data_joins_picture
            = render 'form_elements/joins_picture_thumbnail', form: pk
            = render 'form_elements/joins_picture_title', form: pk
            = render 'form_elements/joins_picture_remove', form: pk
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
      %aside.arl_form_action_explanation
        = "will also detach any pictures with the #{icon_remove} box checked"
