= html_head_subtitle_set "editing '#{@keyword.title}'"

.arl_admin_resource_header.resource_edit
  .arl_admin_resource_header_category
    Editing Keyword
  .arl_admin_resource_header_title
    = @keyword.title
  .arl_admin_resource_header_buttons
    = keyword_admin_button_to_edit_previous(@keyword_neighbors.previous, arlocal_settings: @arlocal_settings, current_pane: @form_metadata.current_pane)
    = keyword_admin_button_to_done_editing(@keyword)
    = keyword_admin_button_to_edit_next(@keyword_neighbors.next, arlocal_settings: @arlocal_settings, current_pane: @form_metadata.current_pane)
  = render '/form_elements/errors', resource: @keyword

%nav.arl_admin_resource_edit_nav
  - @form_metadata.navbar_categories.each do |category|
    = keyword_admin_edit_nav_button(keyword: @keyword, category: category, current_pane: @form_metadata.current_pane)

.arl_keywords_edit
  = render @form_metadata.partial_name, keyword: @keyword, selectable: @form_metadata.selectables
