= form_with(model: [:admin, stream], local: true, class: :arl_form) do |f|
  .arl_form_stream
    .arl_form_title
      Stream details
    .arl_form_data
      = render 'form_elements/text_field',      attribute: :title,        form: f
      = render 'form_elements/visibility',      attribute: :visibility,   form: f
      = render 'form_elements/spacer'
      = render 'form_elements/parseable_area',  attribute: :description,  form: f, selectable: selectable
      = render 'form_elements/text_area',       attribute: :html_element, form: f
    .arl_form_actions
      .arl_form_action_submit
        = f.submit class: :arl_button_form_submit
