= content_for :page_subtitle, 'editing stream'
= content_for :page_subtitle_detail, @stream.title

.arl_admin_resource_header.resource_edit
  .arl_admin_resource_header_category
    Editing Stream
  .arl_admin_resource_header_buttons
    -# stream_admin_button_to_edit_previous(@stream_neighbors.previous)
    = stream_admin_button_to_done_editing(@stream)
    -# stream_admin_button_to_edit_next(@stream_neighbors.next)
  = render '/form_elements/errors', resource: @stream

%nav.arl_admin_resource_edit_nav
  - @form_metadata.navbar_categories.each do |category|
    = stream_admin_edit_nav_button(stream: @stream, category: category, current_pane: @form_metadata.current_pane)

.arl_admin_streams_edit
  = render @form_metadata.partial_name, stream: @stream, selectable: @form_metadata.selectables
