- if local_assigns[:auto_keyword]
  = form.fields_for attribute do |joined_keyword|
    .arl_form_data_attr
      = form.label :keyword_id, sanitize("Auto-keyword as <i>#{auto_keyword.keyword_title}</i>", keywords: %w(i)), class: :arl_form_data_attr_label
      = form.check_box :keyword_id, {class: :arl_form_data_attr_input_checkbox, checked: true}, auto_keyword.keyword_id
      = form.label :keyword_id, '&nbsp;'.html_safe, class: :arl_form_data_attr_input_checkbox_visible, tabindex: 0
      %aside.arl_form_data_attr_explanation
        = sanitize("Value can be changed in the #{link_to 'A&R.local control panel', edit_admin_arlocal_settings_path(pane: :admin), class: :arl_link_url}.")
