.arl_form_data_attr_can_select
  = form.label "can_select_#{attribute}", class: :arl_form_data_attr_label
  = form.check_box "can_select_#{attribute}", class: :arl_form_data_attr_input_checkbox
  = form.label "can_select_#{attribute}", '&nbsp;'.html_safe, class: :arl_form_data_attr_input_checkbox_visible, tabindex: 0
  = form.label "order:", class: :arl_form_data_attr_can_select_label_b
  = form.text_field "order_selecting_#{attribute}", autocomplete: :off, class: :arl_form_data_attr_input_text_field, size: 3
