.arl_form_data_attr
  %label.arl_form_data_attr_label Date/time of event start
  .arl_form_data_attr_multi
    .arl_form_data_attr_multi_field
      = form.label :datetime_year, 'year', class: :arl_form_data_attr_multi_label
      = form.text_field :datetime_year, value: form.object.datetime_year, placeholder: 'yyyy', size: 4, class: :arl_form_data_attr_input_select
    .arl_form_data_attr_multi_spacer= '-'
    .arl_form_data_attr_multi_field
      = form.label :datetime_month, 'month', class: :arl_form_data_attr_multi_label
      = form.text_field :datetime_month, value: form.object.datetime_month, placeholder: 'mm', size: 2, class: :arl_form_data_attr_input_select
    .arl_form_data_attr_multi_spacer= '-'
    .arl_form_data_attr_multi_field
      = form.label :datetime_day, 'day', class: :arl_form_data_attr_multi_label
      = form.text_field :datetime_day, value: form.object.datetime_day, placeholder: 'dd', size: 2, class: :arl_form_data_attr_input_select
    .arl_form_data_attr_multi_spacer= ' '
    .arl_form_data_attr_multi_field
      = form.label :datetime_hour, 'hr', class: :arl_form_data_attr_multi_label
      = form.text_field :datetime_hour, value: form.object.datetime_hour, placeholder: 'hh', size: 2, class: :arl_form_data_attr_input_select
    .arl_form_data_attr_multi_spacer= ':'
    .arl_form_data_attr_multi_field
      = form.label :datetime_min, 'min', class: :arl_form_data_attr_multi_label
      = form.text_field :datetime_min, value: form.object.datetime_min, placeholder: 'mm', size: 2, class: :arl_form_data_attr_input_select
    .arl_form_data_attr_multi_spacer= ' '
    .arl_form_data_attr_multi_field
      = form.label :clock, 'clock', class: :arl_form_data_attr_multi_label
      = form.select :time_format, ['am','pm','24-hr'], {selected: '24-hr'}, {class: :arl_form_data_attr_input_select}
    .arl_form_data_attr_multi_spacer= ' '
    .arl_form_data_attr_multi_field
      = form.label :datetime_zone, 'time zone', class: :arl_form_data_attr_multi_label
      = form.time_zone_select :datetime_zone, ActiveSupport::TimeZone.all, {selected: Rails.application.config.time_zone}, {class: :arl_form_data_attr_input_select}
