%fieldset.arl_form_data_attr
  %label.arl_form_data_attr_label Duration
  .arl_form_data_attr_multi
    .arl_form_data_attr_multi_field
      = form.label :duration_hrs, 'hrs', class: :arl_form_data_attr_multi_label
      = form.text_field :duration_hrs, autocomplete: :off, size: 3, class: :arl_form_data_attr_input_text_field
    .arl_form_data_attr_multi_spacer= ':'
    .arl_form_data_attr_multi_field
      = form.label :duration_mins, 'mins', class: :arl_form_data_attr_multi_label
      = form.text_field :duration_mins, autocomplete: :off, size: 3, maxlength: 2, class: :arl_form_data_attr_input_text_field
    .arl_form_data_attr_multi_spacer= ':'
    .arl_form_data_attr_multi_field
      = form.label :duration_secs, 'secs', class: :arl_form_data_attr_multi_label
      = form.text_field :duration_secs, value: form.object.duration_secs_padded, autocomplete: :off, size: 3, maxlength: 2, class: :arl_form_data_attr_input_text_field
    .arl_form_data_attr_multi_spacer= '.'
    .arl_form_data_attr_multi_field
      = form.label :duration_mils, 'mils', class: :arl_form_data_attr_multi_label
      = form.text_field :duration_mils, value: form.object.duration_mils_padded, autocomplete: :off, size: 3, maxlength: 3, class: :arl_form_data_attr_input_text_field
