%fieldset.arl_form_data_attr
  = form.label attribute, class: :arl_form_data_attr_label

  - if form.object.errors.include?(attribute)
    %mark.arl_form_data_attr_errors
      - form.object.errors.messages_for(attribute).each do |e|
        .arl_form_data_attr_error= e

  - if local_assigns[:aside]
    - [aside].flatten.each do |a|
      %aside.arl_form_data_attr_explanation= "#{a}"

  = form.text_field attribute, autocomplete: :off, class: :arl_form_data_attr_input_text_field, tabindex: 0
