.arl_form_title
  = video_statement_events_count(video)

- if video.does_have_events
  = form_with(model: [:admin, video], url: admin_video_path(video, pane: :events), local: true, class: :arl_form) do |f|
    .arl_form_data
      %table.arl_form_data_joins
        %thead
          %tr.arl_form_data_joins_headings
            %th.arl_form_data_joins_heading title
            %th.arl_form_data_joins_heading order
            %th.arl_form_data_joins_heading= icon_remove
        %tbody
          = f.fields_for :event_videos do |ev|
            %tr.arl_form_data_joins_values
              %td.arl_form_data_joins_value= ev.label :event_title, event_reference_admin_link(ev.object.event)
              %td.arl_form_data_joins_value= ev.text_field :event_order, autocomplete: :off, size: 4, class: :arl_form_data_attr_input_text_field
              %td.arl_form_data_joins_value= ev.check_box :_destroy, class: :arl_form_data_joins_value_destroy
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
      %aside.arl_form_action_explanation= "will also detach any events with '#{icon_destroy}' box checked"

= render 'form_elements/spacer'

.arl_form_title
  Add event
.arl_form_actions
  .arl_admin_resource_alt_buttons
    = video_event_admin_button_to_new_join_single(video)

