.arl_form_title
  = resource_joined_keywords_count_statement(video)

- if video.does_have_keywords
  = form_with(model: [:admin, video], url: admin_video_path(video, pane: :keywords), local: true, class: :arl_form) do |f|
    .arl_form_data
      %table.arl_form_data_joins
        %thead
          %tr.arl_form_data_joins_headings
            %th.arl_form_data_joins_heading keyword title
            %th.arl_form_data_joins_heading= icon_remove
        %tbody
          = f.fields_for :video_keywords do |vk|
            %tr.arl_form_data_joins_values
              %td.arl_form_data_joins_value= keyword_admin_link_title(vk.object.keyword)
              %td.arl_form_data_joins_value= vk.check_box :_destroy
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
      %aside.arl_form_action_explanation
        will also unjoin any keywords with 'remove' box checked

= render 'form_elements/spacer'

.arl_form_title
  Add to keyword
.arl_form_actions
  .arl_admin_resource_alt_buttons
    = video_keyword_admin_button_to_new_join_single(video)
