= form_with(model: [:admin, video], url: admin_video_path(video, pane: :source), local: true, class: :arl_form, method: :patch) do |f|
  .arl_form_video
    .arl_form_title
      video source
    .arl_form_data
      = render 'form_elements/source_select', attribute: :source_type,               form: f, selectable: selectable
      = render 'form_elements/file_field',    attribute: :source_uploaded,           form: f
      = render 'form_elements/text_field',    attribute: :source_imported_file_path, form: f, aside: "#{source_imported_dirname(trailing_separator: true)}"
      = render 'form_elements/text_area',     attribute: :source_embed,              form: f, aside: 'Remove width and height attributes to automatically resize the video to the width of the viewer\'s device.'
      -# = render 'form_elements/text_field',    attribute: :source_url,                form: f, aside: "#{source_imported_path_prefix_url}/"
    .arl_form_actions
      .arl_form_action_submit
        = f.submit class: :arl_button_form_submit
