= html_head_subtitle_set 'videos'

.arl_admin_resource_header.resource_index
  .arl_admin_resource_header_category
    Videos Index
  .arl_admin_resource_header_buttons
    = video_admin_button_to_public

.arl_admin_videos_index
  %table.arl_admin_videos_index
    - @videos.each do |video|
      %tr.arl_admin_videos_index_video.arl_active_link_container{data: {url: admin_video_path(video.id_admin)}}
        %td.arl_videos_index_video_picture
          = render 'index_video_picture_img', video: video
        %td.arl_videos_index_video_text
          = render 'index_video_text_title', video: video
          = render 'index_video_text_year', video: video
