.arl_admin_resource_show_joined_pictures
  .arl_admin_resource_show_joined_heading.arl_metadata_key
    = resource_joined_pictures_count_label(resource)
  - if resource.does_have_pictures
    %table.arl_admin_resource_show_joined_items.arl_metadata_table_values
      - resource.joined_pictures.each do |joined_picture|
        %tr
          %td.arl_metadata_table_value_right
            = "#{joined_picture.order}." if joined_picture.does_have_order
          %td.arl_metadata_table_value
            = picture_admin_link_title(joined_picture.picture)
          %td.arl_metadata_table_value_right
            = "cover" if joined_picture.is_coverpicture
          %td.arl_metadata_table_value
            = visibility_description(joined_picture.picture.visibility)
