- if flash[:notice]
  .arl_admin_header_notice= flash[:notice]

- if flash[:errors]
  .arl_admin_header_errors
    = "#{pluralize(flash[:errors].length, 'error')}:"
    %ul.arl_admin_header_error_list
      - flash[:errors].sort.each do |e|
        %li.arl_admin_header_error= e.to_s.gsub('_',' ')
- elsif flash[:changed]
  .arl_admin_header_updated
    = "Updated #{pluralize(flash[:changed].length, 'attribute')}:"
    %ul.arl_admin_header_updated_list
    - flash[:changed].sort.each do |c|
      %li.arl_admin_header_updated_attribute= c.to_s.gsub('_',' ')
