= form_with(model: [:admin, audio], local: true, class: :arl_form) do |f|
  .arl_form_title
    Audio Details
  .arl_form_data
    = render 'form_elements/text_field',      attribute: :title,              form: f
    = render 'form_elements/text_field',      attribute: :subtitle,           form: f
    = render 'form_elements/visibility',      attribute: :visibility,         form: f
    = render 'form_elements/auto_keyword',   attribute: :audio_keywords,     form: f
    = render 'form_elements/spacer'
    = render 'form_elements/text_field',      attribute: :audio_artist,       form: f
    = render 'form_elements/text_field',      attribute: :composer,           form: f
    = render 'form_elements/parseable_area',  attribute: :copyright,          form: f, selectable: selectable
    = render 'form_elements/date_field',      attribute: :date_released,      form: f, default_date: Date.current
    = render 'form_elements/parseable_area',  attribute: :description,        form: f, selectable: selectable
    = render 'form_elements/duration',        attribute: :duration,           form: f
    = render 'form_elements/isrc',            attribute: :isrc,               form: f
    = render 'form_elements/parseable_area',  attribute: :musicians,          form: f, selectable: selectable
    = render 'form_elements/parseable_area',  attribute: :personnel,          form: f, selectable: selectable
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
