= form_with(model: [:admin, audio], url: admin_audio_path(audio, pane: :source), local: true, class: :arl_form) do |f|
  .arl_form_title
    Audio source
  .arl_form_data
    = render 'form_elements/source_select',    attribute: :source_type,               form: f, selectable: selectable
    = render 'form_elements/text_field',       attribute: :source_imported_file_path, form: f, aside: "#{source_imported_dirname(trailing_separator: true)}"
    = render 'form_elements/file_field',       attribute: :source_uploaded,           form: f, purge_path: edit_admin_audio_path(audio, pane: :source_uploaded_purge)
    -#= render 'form_elements/text_field',       attribute: :source_url,                form: f, aside_before: "imported/#{imported_path_suffix_audio}/"
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
