.arl_admin_resource_joins_buttons
  = audio_event_admin_button_to_new_join_single(audio)

.arl_form_title
  = resource_joined_events_count_statement(audio)

- if audio.does_have_events
  = form_with model: [:admin, audio], url: admin_audio_path(audio, pane: :events), local: true, class: :arl_form do |f|
    .arl_form_data
      %table.arl_form_data_joins
        %thead
          %tr.arl_form_data_joins_headings
            %th.arl_form_data_joins_heading event
            %th.arl_form_data_joins_heading order
            %th.arl_form_data_joins_heading= icon_remove
        %tbody
          = f.fields_for :event_audio, audio.event_audio_sorted do |ea|
            %tr.arl_form_data_hoins_values
              %td.arl_form_data_joins_value= event_reference_admin_link(ea.object.event)
              %td.arl_form_data_joins_value= ea.text_field :event_order, size: 4, class: :arl_form_data_attr_input_number_field
              %td.arl_form_data_joins_destroy= render 'form_elements/destroy_box', form: ea
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
      %aside.arl_form_action_explanation= "will also unjoin any events with '#{icon_destroy}' box checked"
