= content_for :page_subtitle, 'editing audio'
= content_for :page_subtitle_detail, @audio.title_and_subtitle_for_display

.arl_admin_resource_header.resource_edit
  .arl_admin_resource_header_category
    Editing Audio
  .arl_admin_resource_header_title
    %span= @audio.title
    - if @audio.does_have_subtitle
      %span= "(#{@audio.subtitle})"
  .arl_admin_resource_header_nav
    = audio_admin_button_to_edit_previous(@audio_neighbors.previous, arlocal_settings: @arlocal_settings, current_pane: @form_metadata.current_pane)
    = audio_admin_button_to_done_editing(@audio)
    = audio_admin_button_to_public(@audio)
    = audio_admin_button_to_edit_next(@audio_neighbors.next, arlocal_settings: @arlocal_settings, current_pane: @form_metadata.current_pane)

.arl_admin_resource_edit_nav
  - @form_metadata.navbar_categories.each do |category|
    = audio_admin_edit_nav_button(audio: @audio, category: category, current_pane: @form_metadata.current_pane)

.arl_admin_audio_edit
  = render @form_metadata.partial_name, audio: @audio, selectable: @form_metadata.selectables
