= content_for :page_subtitle, 'audio'

.arl_admin_resource_header.resource_index
  .arl_admin_resource_header_category
    Audio Index

.arl_admin_audio_index
  .arl_admin_audio_index_filter
    = form_with model: @arlocal_settings, url: admin_arlocal_settings_update_and_return_path, local: true do |f|
      = audio_admin_filter_select(f, params)
      = f.submit icon_pin, class: :arl_button_form_aux_submit

  .arl_admin_audio_index_audios
    - @audio.each do |audio|
      .arl_admin_audio_index_audio
        .arl_admin_audio_index_audio_title
          = audio_admin_link_title(audio)
        .arl_admin_audio_index_audio_source
          = audio_file_source_path_with_indicator_class(audio)
        .arl_admin_audio_index_audio_joins
          %dl.arl_admin_joined_resources
            = render 'admin/shared/index_joined_albums', resource: audio
            = render 'admin/shared/index_joined_events', resource: audio
            = render 'admin/shared/index_joined_keywords', resource: audio
        .arl_admin_audio_index_audio_date
          = audio.date_released
        .arl_admin_audio_index_audio_duration
          = audio.duration
        .arl_admin_audio_index_audio_isrc
          = audio.isrc_hyphenated
        .arl_admin_audio_index_audio_visibility
          = visibility_description(audio.visibility)
