= html_head_subtitle_set 'import audio'

.arl_admin_resource_header.resource_new
  .arl_admin_resource_header_category
    Import Audio
  = render '/form_elements/errors', resource: @audio

.arl_admin_audio_edit
  = form_with(model: [:admin, @audio], local: true, url: admin_audio_create_from_import_path, class: :arl_form) do |f|
    .arl_form_data
      = render 'form_elements/text_field',    attribute: :source_imported_file_path, form: f, aside: "#{source_imported_dirname(trailing_separator: true)}"
      = render 'form_elements/auto_keyword', attribute: :audio_keywords, form: f
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
