= content_for :page_subtitle, 'import audio to album'

.arl_admin_resource_header.resource_new
  .arl_admin_resource_header_category
    Import Audio to Album

.arl_admin_audio_edit
  = form_with(model: [:admin, @audio], local: true, url: admin_audio_create_from_import_to_album_path, class: :arl_form) do |f|
    .arl_form_data
      = render 'form_elements/text_field', attribute: :source_imported_file_path, form: f, aside: "#{source_imported_dirname(trailing_separator: true)}"
      = render 'form_elements/auto_keyword', attribute: :audio_keywords, form: f
      = f.fields_for :album_audio, f.object.album_audio.build do |aa|
        = render 'form_elements/collection_select', form: aa, attribute: :album_id, blank: true, collection: @albums, label: 'Album title', text_method: :title
        = render 'form_elements/text_field_sized', form: aa, attribute: :album_order, autocomplete: false, label: 'Order', size: 4
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
