= content_for :page_subtitle, 'import audio to album'

.arl_admin_resource_header.resource_new
  .arl_admin_resource_header_category
    Import Audio to Album

.arl_admin_audio_edit
  = form_with(model: [:admin, @audio], local: true, url: admin_audio_create_from_import_to_album_path, class: :arl_form) do |f|
    .arl_form_data
      = render 'form_elements/text_field', |
          aside: "#{source_imported_dirname(trailing_separator: true)}", |
          attribute: :source_imported_file_path, |
          errors: @audio.errors.messages_for(:source_file), |
          form: f, |
          label: 'Source file'
      = render 'form_elements/auto_keyword', |
          attribute: :audio_keywords, |
          form: f
      = f.fields_for :album_audio, f.object.album_audio.build do |aa|
        = render 'form_elements/collection_select', |
            attribute: :album_id, |
            blank: true, |
            collection: @albums, |
            errors: @audio.errors.messages_for(:album), |
            form: aa, |
            label: 'Album', |
            text_method: :title
        = render 'form_elements/text_field_sized', |
            attribute: :album_order, |
            autocomplete: false, |
            form: aa, |
            label: 'Order', |
            size: 4
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
